body {
    display: flex;
    min-height: 100vh;
    margin: 0;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url("./images/left-background-color.jpg");
    background-size: cover;
}

.left p,
.left a {
    color: aliceblue;
    margin: 0 0 0 auto;
    
}

.left .logo {
    margin: auto;
    height: 330px;
    width: 100%;
    background-color: black;
    opacity: 80%;
    background-image: url(./images/odin-logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.right {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-evenly;
}

.right .top {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0 48px 0 48px;

    background-color: rgb(187, 201, 201);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

.right .middle {
    flex: 4.5;
    background-color: rgb(214, 214, 214);
}

.middle .sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.sign-up #top {
    flex: 1;
}

.sign-up #bottom {
    flex: 1;
}

.form-row {
    display: flex;
    gap: 18px;
    margin: 12px;
    
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field input {
    width: 220px;
    padding: 8px 10px;
    height: 22px;

    border: 1px solid #b8b8b8;
    border-radius: 5px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    font-size: 16px;
}

.form-field input:focus {
    outline: none;
    border-color: #4a7db5;

    box-shadow: 0 0 4px rgba(74, 125, 181, 0.4);
}

.form-field input:user-valid {
    border-color: green;
}

.form-field input:user-invalid {
    border-color: crimson;
}

.sign-up #bottom {
    padding: 10px 0 0 32px;
}

#bottom button {
    height: 36px;
    width: 150px;
    background-color: #596D48;
    color: white;
}

#bottom p a {
    color: #596D48;
    text-decoration: none;
}
